@import url(./blocks/variables.css);
@import url(./blocks/header.css);



.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 996px;
    background-color: #202023;
}

.menu-content {
    display: flex;
    height: 811px;
    width: 1140px;
    margin-right: 49px;
}

.two-cards1 {
    height: 693px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-cards2 {
    height: 693px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-item1 {
    height: 341px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-border {
    width: 328px;
    height: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}

.card-img {
    object-fit: contain;
}

.menu-title {
    margin: 0 auto;
    height: 100px;
    color: #FFF;
    font-size: 64px;
    font-family: Inter;
    font-weight: 100;
}

.cards-title1 {
    margin: 0 auto;
    color: #FFF;
    font-size: 25.92px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.cards-btn1 {
    width: 160px;
    height: 41px;
    font-size: 25.92px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.food-ingredients {
    height: 851px;
    display: flex;
    flex-direction: column;
    background-color: #202023;
    background-image: url(../img/background-text.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 134px;
}

.food {
    width: 1108px;
    height: 714px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.food-ingredients-title {
    padding-left: 344px;
    color: #FFF;
    font-size: 64px;
    font-family: Italiana;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.food-item1 {
    height: 417px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
}

.food-item2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 align-self: center;
}

.food-item3 {
    padding-left: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: self-end;
}

.ingredients {
    width: 290px;
    height: 197px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(242, 242, 242, 0.30);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(18px);
    list-style-type: none;
}

.ingredient {
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Why-TRADITIONALARTISAX-Bakery {
    height: 607px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/background-foto2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Why-TRADITIONALARTISAX-bakery-title {
    padding-top: 24px;
    padding-right: 600px;
    color: #D9D9D9;
    font-family: Italiana;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reasons {
    height: 292px;
}

.reasons-list {
    margin: 0 auto;
    width: 1107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reason {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason-name {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.adress {
    height: 819px;
    background-color: #202023;
}

.adress-content {
    display: flex;
    width: 1367px;
    justify-content: space-evenly;
    align-items: center;
}

.map {
    margin-top: 67px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map-title {
    margin: 0;
    color: #FFF;
    font-family: Italiana;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.how-and-when {
    height: 407px;
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
}

.how {
    width: 243px;
    height: 311px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.how-title {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nummer {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}

.tik-tok {
    margin: 0;
    padding-top: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Inst {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.when {
    margin-top: 6px;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.when-title {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.time {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.directions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 423px;
    background-color: #202023;
}

.directions-content {
    margin: 0 auto;
    width: 1205px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-name {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.quote {
    margin: 0;
    padding-left: 19px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.About {
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.About-title {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.About-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.About-content-item {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    list-style-type: none;
}

.Movement {
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Movement-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Movement-title {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Movement-content-item {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    list-style-type: none;
}

.Company {
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Company-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Company-title {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Company-content-item {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    list-style-type: none;
}

.rights {
    margin: 0 auto  ;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}






